SPOTIFY_CLIENT_ID = "YOUR_CLIENT_ID_HERE"
SPOTIFY_CLIENT_SECRET = "YOUR_CLIENT_SECRET_HERE"

POLL_INTERVAL_MS = 2000
PAUSED_POLL_INTERVAL_MS = 5000
NO_DEVICE_POLL_INTERVAL_STARTING_MS = 10000
NO_DEVICE_POLL_INTERVAL_INCREMENT_MS = 10000
NO_DEVICE_POLL_INTERVAL_MAX_MS = 60000
APP_REDIRECT_PORT = 8888
